/* General */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.App {
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure all elements inside the header align vertically */
  padding: 10px 20px; /* Reduce padding to control header height */
  background-color: #f9f9f9;
  height: 100px; /* Set a fixed height for the header */
  box-sizing: border-box; /* Ensure padding doesn't affect the height */
}

.logos {
  display: flex;
  align-items: center;
}

.logo-image {
  max-height: 206px; /* Limit the maximum height of the logo */
  width: auto; /* Keep the logo proportional */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.compare-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Ensure consistent button size */
  height: auto;
  min-width: 120px;
  text-align: center;
}

/* Hero Section */
.hero {
  background: linear-gradient(#00b96b, #00471b);
  color: white;
  padding: 50px;
}

.hero-content h1 {
  font-size: 36px;
  font-weight: bold;
}

.search-box {
  margin: 20px 0;
}

.search-box input {
  padding: 10px;
  width: 300px;
}

.search-box button {
  background-color: #ffa500;
  padding: 10px;
  cursor: pointer;
}

/* Universities */
.universities-section {
  margin: 50px 0;
}

.universities-logos img {
  height: 50px;
  margin: 0 20px;
}
